

<table class="table table-sm table-striped projects">
    <thead>
      <tr>
        <th style="width:10%; color: #73879C">#</th>
        <th style="width:28%; color: #73879C">User</th>

        <th class="text-center" style="width:35%; color: #73879C">CARM Officer</th>
       
        <th class="text-center" style="width:35%; color: #73879C">CARM Manager</th>
        
       
        <th class="vertical-align-mid"></th>
      </tr>
    </thead>
    <tbody>
       
     {% for cul in carm_user_list %}
     <tr>
       <td>{{ forloop.counter}}</td>
       <td>{{cul.profile }}
       </br><small>{{ cul.profile.job_title  }}</small>
       </br><small>{{ cul.profile.portfolio  }}</small>
       
      
      
       </td>
       <td class="text-center"> <div class="icheckbox_flat-green {% if cul.is_officer %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
        <td class="text-center"> <div class="icheckbox_flat-green {% if cul.is_manager %}checked{% endif %}" style="position: relative;"><input type="checkbox" class="flat" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 80%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
       </td>
        
      
       <td  class="align-middle"><button class="btn btn-info btn-sm btn-xs" hx-get="{% url 'update_carm_user_roles' cul.id %}"   hx-target="#dialog" class="btn btn-primary"><i class="fa fa-edit"></i></button></td>
     
     </tr>
      
     {% endfor %}
 
    </tbody>
  </table>
 
    <!-- Placeholder for the modal -->
   

    <!-- Empty toast to show the message -->
  