<table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th style="color: #73879C;">#</th>
                                  <th style="color: #73879C;">Partner Name</th>
                                  <th style="color: #73879C;">Partnership Type/LinCode</th>
                                  <th style="color: #73879C;" class="hidden-phone">Agreement Type</th>
                                  <th style="color: #73879C;">Period</th>
                                    <th></th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for p in partnership %}
                                <tr>
                                  <td>{{forloop.counter}}</td>
                                  <td> {{ p.portfolio }}</td>
                      <td> {{ p.partership_type }}</br><small>{{ p.subAwar_code }}</small></td>
                       <td> {{ p.agreement_type }}</td>
                                 
                                <td>
                          {{p.start_date}} -  {{p.end_date}}
                  

                  <div class="progress progress_sm" style="width: 76%;">
                   <div class="progress-bar bg-blue" style="width:{{ p.get_date_diff }}">
                       <small> {{ p.get_date_diff }}</small>
                      
                      </div></div>
                      
                    </td>
                     <td>
    <button class="btn btn-info btn-sm" hx-get="{% url 'edit_partnership' pk=p.pk %}" hx-target="#dialog"><i class="fa fa-edit"></i></button>
  </td>
                                </tr>
                  {% endfor %}
                              </tbody>
                            </table>