{% extends "feedback_steps.html" %}

{% block content_travel_step %}
{% load static %}
{% load humanize%}
<style>

.icheckbox_flat-green1,
.iradio_flat-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}
        form,
       form-control-sm {
           
            text-align: left;
            padding: 0px;
            height: 10px;
        }

        tr {
            height: 10px;
            padding: 0px;
        }
        th {
            height: 10px;
            padding: 0px;
            font-size: 11px;
            color:#5A738E;
        }
          td {
            height: 10px;
            padding: 0px;
            font-size: 12px;
            color:#5A738E;
        }
    </style>
                        <div id="step-1" class="content" style="display: none;">
                            <h2 class="StepTitle">Step 1 Content</h2>
                            <p>Step 1 content goes here.</p>
                        </div>
                        <div id="step-2" class="content" style="display: block;">
             
                                    {% load widget_tweaks %}
                      {% with WIDGET_ERROR_CLASS='is-invalid' %}
                      
                        <form class="form-horizontal form-label-left" method="post"   enctype="multipart/form-data"   >
                           {% csrf_token %}
                         
                         <div class="form-group row">
                            <label class="col-form-label col-md-2 col-sm-2 label-align" for="">Feedback Referred or Shared <span class="required"></span>
                            </label>
                            <div class="col-md-2 col-sm-2">
                              {% render_field form.feedback_referred_shared class="form-control form-control-sm" required="required"%}
                              <div class="invalid-feedback">{{ form.feedback_referred_shared.errors|first }}</div>
                              

                            </div>
                            </form>
                            {% endwith %}

                        </div>
                        <div id="step-3" class="content" style="display: none;">
                            <h2 class="StepTitle">Step 3 Content</h2>
                            <p>Step 3 content goes here.</p>
                        </div>
                       
{% endblock %}