  {% load static %}

                   <style>

 
  

.symbol-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .symbol-group .img-circle {
    position: relative;
    z-index: 0;
    margin-left: -10px;
    border: 1px solid rgba(52, 73, 94, 0.44);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .symbol-group .symbol:first-child {
      margin-left: 0; }
    .symbol-group .img-circle:hover {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 1; }
  .symbol-group.symbol-hover .symbol {
    cursor: pointer; }


      .symbol-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .symbol-group .img-circle {
    position: relative;
    z-index: 0;
   
    border: 1px solid rgba(52, 73, 94, 0.44);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .symbol-group .symbol:first-child {
      margin-left: 0; }
    .symbol-group .symbol:hover {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: 1; }
  .symbol-group.symbol-hover .symbol {
    cursor: pointer; }


      </style>  

    </style>

              <!-- start project list -->

                                 <table class="table table-sm table-striped" style="margin-top:0px; margin-bottom:0px">
                     
                  
                <thead>
                              <tr>
                    <th style="width:">#</th>
                     
                    
                    <th style="width: 45%">Intervention ID/Title</th>
                    <th style="width: 15%; text-align:left;margin-left:5px;" >Team Members</th>
               
                    <th style="width:12%">Date<small> (Start/End)</small></th>
                   <th style="width:12%">Status <small>(ICN)</small></th>
                      <th style="width:12%">Status <small>(Report)</small></th>
                     <th ></th>
                     </tr>
                     
                </thead>
                <tbody>
                {% if icns %}
                    {% for icn in icns %}
                  <tr>
                    <td>{{ forloop.counter }}</td>

                    <td>{{icn.icn_number}}</br>
                      <small>{{ icn.title }}</small>
                     
                    </td>
                    <td style="text-align: center;margin-left:5px;">
                      <ul class="list-inline text-center symbol-group" style="text-align: center;margin-left:5px;">
                        
                            
                         
                            
                         
                            <img class="img-responsive img-circle profile_img" src="{% static 'images/user.png' %}" alt="avatar" title="{{ icn.user.profile.full_name}} - Initiator" style="width: 30px; height:30px; margin-top: 4px; margin-bottom:1px; margin-left: -10px;margin-right: 0px;" >
                            <img class="img-responsive  img-circle profile_img" src="{% static 'images/user.png' %}" alt="avatar" title="{{ icn.mel_lead.user.profile.full_name}} - MEL Lead" style="width: 30px; height:30px; margin-top: 4px; margin-bottom:1px; margin-left: -10px;margin-right: 0px;">
                                <img class="img-responsive  img-circle profile_img" src="{% static 'images/user.png' %}" alt="avatar" title="{{ icn.finance_lead.user.profile.full_name}} - Finance Lead" style="width: 30px; height:30px; margin-top: 4px; margin-bottom:1px; margin-left: -10px;margin-right: 0px;">
                                  <img class="img-responsive  img-circle profile_img" src="{% static 'images/user.png' %}" alt="avatar" title="{{ icn.program_lead.user.profile.full_name}} - Program Lead" style="width: 30px; height:30px; margin-top: 4px; margin-bottom:1px; margin-left: -10px;margin-right: 0px;">
                       
        
                        
                        
                      </ul>
                    </td>
                    <td>
                  
                        <small>{{ icn.proposed_start_date }}</small>
                        <br />
                        <small>{{ icn.proposed_end_date }}</small>
                    </td>
                    <td>
                    {% if icn.status == True %}
                      <span class="badge {% if 'Rejected' in icn.approval_status %} bg-red {% elif 'Approved' in icn.approval_status %} bg-green {% else %} bg-warning {% endif %}">{% if icn.approval_status %} {{ icn.approval_status}} {% else %} Pending {% endif %}</span>
                      {% else %}
                      <span class="badge {% if icn.status == True %}badge bg-green {% else %} badge bg-red {% endif %}">{{ icn.get_status_display}}</span>
                      {% endif %}
                   </td>
                  <td>
                     {% if not icn.icnreport or icn.approval_status != '100% Approved' %}
                      <span class="badge badge {% if icn.final_report_due_date|timesince > '1 min' %} bg-red {% else %} bg-default{% endif %}">{{icn.final_report_due_date}} </span>
                   {% elif icn.icnreport.status == True %}
                      <span class="badge {% if 'Rejected' in icn.icnreport.approval_status %} bg-red {% elif 'Approved' in icn.icnreport.approval_status %} bg-green {% else %} bg-warning {% endif %}">{% if icn.icnreport.approval_status %} {{ icn.icnreport.approval_status}} {% else %} Pending {% endif %}</span>
                     {% elif icn.icnreport.status == False %}
                    <span class="badge {% if icn.icnreport and icn.icnreport.status == True %}badge bg-green {% else %} badge bg-warning {% endif %}">{{ icn.icnreport.get_status_display}}</span>
                     {% endif %}
                    </td>
                    <td >
                      
                    <div class="btn-group">
  <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action
  </button>
  <div class="dropdown-menu dropdown-menu-right">
     <a class="dropdown-item" href="{% url 'icn_detail' icn.id %}">View</a>
                     
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item {% if request.user != icn.user or icn.impact_set.all.count > 0 %}disabled{% endif %}" hx-get="{% url 'icn_delete' icn.id %}"  hx-target="#icn_list" hx-confirm="Are you sure you wish to delete ?">Delete</a>
  </div>
</div>
                    
                     
                    </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>